<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaperPortSafeConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PaperPortSafeConverter.Properties.Settings>
            <setting name="ConverterLocation" serializeAs="String">
                <value>C:\Program Files (x86)\Nuance\PaperPort\cvmaxpdf_console.exe</value>
            </setting>
            <setting name="LastInputLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeCompleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSuccessLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFailureLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCopyOption" serializeAs="String">
                <value>True</value>
            </setting>
        </PaperPortSafeConverter.Properties.Settings>
    </userSettings>
</configuration>